/* 
    Document   : vIT_Project
    Created on : 2 nov. 2013, 21:50:35
    Author     : clement
    Description:
        Purpose of the stylesheet follows.
*/

#corps{
    padding: 0px;
    font-family: ubuntu;
    margin-bottom: 60px;
}

.projectContener{
    width: 100%;
    height: 100%;
    background-color: #000;
}

.projectBanner{
    width: 100%;
    height: 400px;
    position: relative; 
}

.projectBanner h1 {
    position: absolute; 
    bottom: 1em; 
    left: 1em; 
    width: 100%;
    color: white;
}

.projectNav{
    background-color: #7faaff;
}

.projectNav ul{
    padding-left: 0px;
    height: 30px;
    border-bottom: 1px;
    margin: 0px;
}

.projectNav ul a{
    display: inline;
    width: 100px ;
    height: 30px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.projectNav ul a:hover{
    background-color: black;
    color: #7faaff;
    border-bottom: 1px solid #c8c7c7;
}

.projectSpecs{
    padding: 10px;
    font-size: 12px;
}

.projectDescription{
    color:#7faaff;
    padding: 2em;

    min-height: 60px;
    line-height: 30px;

    font-size: 20px;
}

.projectDescription p{
    width:100%;
    vertical-align:middle;
    display:inline-block;
    line-height:1.2;
    text-align:left;
}

.projectIntroduction{
    padding: 2em;

    min-height: 60px;
    line-height: 30px;

    font-size: 20px;

    background-color: #7faaff;

    -webkit-box-shadow:  0px 1px 10px 1px rgba(0, 0, 0, 1);
    box-shadow:  0px 1px 10px 1px rgba(0, 0, 0, 1);

}

.projectIntroduction p{
    width:100%;
    vertical-align:middle;
    display:inline-block;
    line-height:1.2;
    text-align:left;
}

.projectContent{
    color:#7faaff;
    padding: 60px;
}

.projectContent h1{
    color: #c8c7c7 !important;
    font-size: 200px;
    font-size: 48px !important;
}

.projectContent p{
    margin-left: 2em;
}

.tableTeamMembers{
    width: 100%;
}

.projectDescription .worklog .info{
    border-bottom: 1px solid #7faaff !important;
}



.worklog{
    border-style: solid;
    border-color: #ooo;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 2em;
}

.worklog .title{
    padding-left: 0.5em;
    width: 100%;
    color: white;
    font-size: 22px;
}

.worklog .info{
    width: 50%;
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px solid #000;
    margin-bottom: 2em;
}

.worklog .content{
    padding: 2em;
}

.worklog .content p{
    font-family: ubuntu;
}

