/* 
    Document   : vHome
    Created on : 6 août 2013, 19:01:41
    Author     : clement
    Description:
        Purpose of the stylesheet follows.
*/

/*.container {
	margin-top:50px;
  	margin-left:auto;
	margin-right:auto;
	
  	width: 450px;
  
  	border-bottom: 1px solid #cfcfcf;
  	border-radius: 3px 3px 0 0;
  	background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  	background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  	background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  	background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
	box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 1);
}*/